name: CI

on:
  push:
    branches:
      - main
      - develop
  pull_request:
    branches:
      - main
      - develop
  release:
    types:
      - published
  workflow_dispatch:
    inputs:
      test-release:
        description: "Simulate a release"
        required: false
        default: "true"

concurrency:
  group: ${{ github.workflow }}-${{ github.event.pull_request.number || github.ref }}
  cancel-in-progress: true

jobs:
  cancel-previous:
    name: Cancel Previous Runs
    runs-on: ubuntu-latest
    steps:
      - name: Cancel Previous Runs
        uses: styfle/cancel-workflow-action@0.12.1
        with:
          access_token: ${{ github.token }}

  uv-install:
    name: UV Install
    runs-on: ubuntu-latest
    needs: cancel-previous
    steps:
      - name: Checkout Repository
        uses: actions/checkout@v4

      - name: Set Up Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.13"

      - name: Set Up uv
        uses: astral-sh/setup-uv@v5

      - name: Sync Dependencies
        run: uv sync

  ruff:
    name: Ruff
    runs-on: ubuntu-latest
    needs: uv-install
    steps:
      - name: Checkout Repository
        uses: actions/checkout@v4

      - name: Set Up Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.13"

      - name: Set Up uv
        uses: astral-sh/setup-uv@v5

      - name: Sync Dependencies
        run: uv sync

      - name: Run Ruff
        run: uv run sh ruff.sh

  pytest:
    name: Pytest
    runs-on: ubuntu-latest
    needs: ruff
    steps:
      - name: Checkout Repository
        uses: actions/checkout@v4

      - name: Set Up Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.13"

      - name: Set Up uv
        uses: astral-sh/setup-uv@v5

      - name: Sync Dependencies
        run: uv sync

      - name: Run Tests
        run: uv run pytest

  upload-to-pypi:
    name: Upload to PyPI
    runs-on: ubuntu-latest
    needs: pytest
    environment: ci
    if: github.event_name == 'release' && github.event.action == 'published' || github.event_name == 'workflow_dispatch'
    steps:
      - name: Checkout Repository
        uses: actions/checkout@v4

      - name: Set Up Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.13"

      - name: Set Up uv
        uses: astral-sh/setup-uv@v5

      - name: Sync Dependencies
        run: uv sync

      - name: Build Distributions
        run: uv run python -m build

      - name: Upload to PyPI
        env:
          TWINE_USERNAME: ${{ secrets.TWINE_USERNAME }}
          TWINE_PASSWORD: ${{ secrets.TWINE_PASSWORD }}
        run: uv run twine upload dist/*
